#p1{
	background:yellow;
	border-width:1px;
	border:1px;
	border-color:green;
}
#p2{
	background: red;
	border-width:1px;
	
	
	border-color:green;
}
#p3{
	background:green;
	border-width:1px;
	border:1px;
	border-color:yellow;
}

